<div>
  <nav class="bg-primary">
    <div class="px-8">
      <div class="flex justify-between items-center py-3">
        <h1 class="">
          <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="font-bold text-white">GPP Trend
            Analysis</a>
        </h1>
        <div class="px-4 cursor-pointer text-white md:hidden">
          <svg class="w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </div>
        <div class="cursor-pointer">
          <img class="w-42 h-10" src="assets/img/ppda-logo.png" alt="PPDA logo">
        </div>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>
