<main class="px-8 py-16">
  <div class="flex justify-center pb-8">
    <h1 class="text-xl font-bold">List of Analyses</h1>
  </div>
  <div class="grid md:grid-cols-2 gap-10">
    <!-- Disclosure -->
    <div class="card hover:shadow-lg flex justify-center font-bold text-xl items-center">
      <a routerLink='/disclosure'>Disclosure Levels</a>
    </div>

    <!-- Local Foreign -->
    <div class="card hover:shadow-lg flex justify-center font-bold text-xl items-center">
      <a routerLink='/localforeign'>Local Vs Foreign</a>
    </div>

    <!-- Distribution -->
    <div class="card hover:shadow-lg content-center flex justify-center font-bold text-xl items-center">
      <a routerLink='/distribution'>Distribution of Contracts</a>
    </div>

    <!-- Bids -->
    <div class="card hover:shadow-lg flex justify-center font-bold text-xl items-center">
      <a routerLink='/bids'>Average
        Bids</a>
    </div>

    <!-- Market Price -->
    <div class="card hover:shadow-lg flex justify-center font-bold text-xl items-center">
      <a routerLink='/marketprice'>Market Price
        Assessment</a>
    </div>

    <!-- Competition -->
    <div class="card hover:shadow-lg flex justify-center font-bold text-xl items-center">
      <a routerLink='/competition'>Competitiveness</a>
    </div>

    <!-- lead time -->
    <!-- <div class="card hover:shadow-lg flex justify-center font-bold text-xl items-center">
      <a routerLink='/leadtime'>Lead Time Assessment</a>
    </div> -->
  </div>
</main>
